@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --color-azul-claro: hsl(225, 100%, 94%);
    --color-brilhante-azul-claro: hsl(245, 75%, 52%);
    --color-azul-muito-claro: hsl(225, 100%, 98%);
    --color-zul-dessaturado: hsl(224, 23%, 55%);
    --color-zul-escuro: hsl(223, 47%, 23%);
    --font-size-paragraph: 16px;
}

body{
    font-family: "Red Hat Display";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-azul-claro);
}
.main{
    max-width: 18.75rem;
    margin: 1.875rem;
    background-color: white;
    border-radius: 10px;
    margin: 6.25rem auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card{
    display: grid;
    text-align: center;
}
.card__img--top img{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 18px 18px 0px 0px;
}
.card__text{
    padding: 8px;
}
.card__titulo{
    font-weight: 900;
    color: var(--color-zul-escuro);
    font-size: 1.7em;
}
.card__paragrafo{
    color: var(--color-zul-dessaturado);
    padding: 6px;
    line-height: 23px;
}
.card-planos{
    display: grid;
    justify-content: center;
    gap: 30px;
}
.planos{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--color-azul-muito-claro);
    padding: 15px;
    border: none;
    border-radius: 15px;
}
.annual{
    padding: 0px 20px 0px 10px;
    font-weight: 900;
    line-height: 1.6em;
}
.annual span {
    color: var(--color-zul-dessaturado);
    font-weight: 500;
}
.card__pagamento{
    width: 250px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 17px;
    background-color: var(--color-brilhante-azul-claro);
    color: var(--color-azul-muito-claro);
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 4px 22px hsl(225, 100%, 96%);
}
.card__cancel {
    margin-bottom: 20px;
}
.cancel{
    color: var(--color-zul-dessaturado);
    font-weight: 700;
}
@media screen and (min-width: 400px) {
    body{
        background: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--color-azul-claro);
    }
   
}
